a.active, a.active:focus {
  color: #1c1a1a; }

pre.import-section {
  font-size: 15px;
  font-weight: bold;
  word-break: break-word;
  white-space: normal; }

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 80px; }

.sidebar ul, .sidebar h4 {
  margin-top: 0; }
