.ui-tags {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .ui-tags .tag {
    margin-bottom: .5rem; }
    .ui-tags .tag:not(:last-child) {
      margin-right: .5rem; }
    .ui-tags .tag:not(body) {
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 4px;
      color: #4a4a4a;
      display: inline-flex;
      font-size: .75rem;
      height: 2em;
      justify-content: center;
      line-height: 1.5;
      padding-left: .75em;
      padding-right: .75em;
      white-space: nowrap; }
      .ui-tags .tag:not(body).bg-default {
        background-color: #23d160;
        color: #fff; }
  .ui-tags.has-addons .tag {
    margin-right: 0; }
  .ui-tags.has-addons .tag:not(:first-child) {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .ui-tags.has-addons .tag:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
