.ui-badge {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-clip: padding-box;
    color: inherit;
    background: transparent;
    line-height: normal;
    font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    // overflow: hidden;
    text-decoration: none;
    margin: 0;
    padding: 3px 4px;
    width: auto;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    &.empty {
        display: none;
    }
    &.rounded {
      border-radius: 10rem;
    }
    &.animation {
        animation: pulse 1.5s infinite;
        &.rounded {
          border-radius: 10rem;
          // &:after {
          //   content: '';
          //   position: absolute;
          //   top:-2px;
          //   left:-2px;
          //   border:2px solid;
          //   border-color: inherit; 
          //   opacity:0;
          //   border-radius: 50%;
          //   width:100%;
          //   height:100%;
          //   animation: sonar 1.5s infinite;
          // }
        }
      }
  }

  @keyframes sonar { 
    0% {transform: scale(.9); opacity:1;}
    100% {transform: scale(2);opacity: 0;}
  }
  @keyframes pulse {
    0% {transform: scale(1);}
    20% {transform: scale(1.2); } 
    50% {transform: scale(.9);} 
    80% {transform: scale(1.1);} 
    100% {transform: scale(1);}
  }