.ui-textarea {
  border: 1px solid #c5c5c5;
  max-width: 300px;
  width: 100%;
  min-height: 40px;
  padding: 0px 5px;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #cccccc;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left; }
