/*
 * string split
 * @params $string
 * @params $seperator
 * @return list
 */
.ui-toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  cursor: pointer;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  font-size: 17px;
  white-space: nowrap; }

.ui-toast .ui-toast-img {
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff; }

.ui-toast .ui-toast-desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap; }

.ui-toast.show {
  visibility: visible;
  margin-bottom: 3px; }

/*  */
.ui-toast-container.top-center .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.top-center .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

.ui-toast-container.top-left .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.top-left .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

.ui-toast-container.top-right .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.top-right .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

.ui-toast-container.bottom-center .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.bottom-center .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

.ui-toast-container.bottom-left .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.bottom-left .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

.ui-toast-container.bottom-right .ui-toast.show {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay infinite 1s; }

.ui-toast-container.bottom-right .ui-toast.show.auto-close {
  -webkit-animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s;
  animation: fade-in 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fade-out 0.5s 4.5s; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }
