.ui-confirm {
    &-body {
        &__title {
            color: #666;
            margin-top: 0;
            font-size: 21px;
        }
        &__message {
            color: #666;
        }
        &__button-group {
            text-align: right;
            button {
                font-weight: bold;
            }
        }
    }
}