/*
 * string split
 * @params $string
 * @params $seperator
 * @return list
 */
.ui-toast-container {
  position: fixed;
  z-index: 1000;
  /*  */ }

.ui-toast-container.top-center {
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.ui-toast-container.top-left {
  top: 30px;
  left: 30px; }

.ui-toast-container.top-right {
  top: 30px;
  right: 30px; }

.ui-toast-container.bottom-center {
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.ui-toast-container.bottom-left {
  bottom: 30px;
  left: 30px; }

.ui-toast-container.bottom-right {
  bottom: 30px;
  right: 30px; }
