.ui-checkbox-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px 3px; }
  .ui-checkbox-container.rounded {
    border-radius: 50%; }
    .ui-checkbox-container.rounded:after {
      left: 29%; }
  .ui-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    left: 0px; }
    .ui-checkbox-container input:checked ~ .checkmark {
      background-color: inherit; }
      .ui-checkbox-container input:checked ~ .checkmark:after {
        display: block; }
  .ui-checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee; }
    .ui-checkbox-container .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 25%;
      top: 3%;
      width: 46%;
      height: 83%;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg); }
    .ui-checkbox-container .checkmark.rounded {
      border-radius: 50%; }
  .ui-checkbox-container:hover input:not(:checked) ~ .checkmark {
    background-color: #ccc; }
