.ui-checkbox-container {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 3px;
    &.rounded {
        border-radius: 50%;
        &:after {
            left: 29%;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        left: 0px;
        &:checked ~ .checkmark {
            background-color: inherit;
            &:after {
                display: block;
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 25%;
            top: 3%;
            width: 46%;
            height: 83%;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
        &.rounded {
            border-radius: 50%;
            
        }
    }
  
    &:hover input:not(:checked) ~ .checkmark {
        background-color: #ccc;
    }

}